{% extends "layout1.html" %}
{% block content %}
    <h1>Two-Factor Authentication</h1>
    <p>Please enter the token that was sent to your phone.</p>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.token.label(class="form-control-label") }}
                    {% if form.token.errors %}
                        {{ form.token(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.token.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.token(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <small class="text-muted ml-2">
                    <a href="{{url_for('users.confirm') }}">Code expired or you didnt get it? Resend</a>
                </small>
            </div>
            
        </form>

{% endblock content %}