<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content=""> 

  

  <!-- Bootstrap core CSS -->
  <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">


  <!-- CSS here -->
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gijgo.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  
  <link rel="shortcut icon" href="{{ url_for('static', filename='/img/logo3.ico') }}">

    {% if title %}
        <title>MoneyReach  - {{ title }}</title>
    {% else %}
        <title>MoneyReach</title>
    {% endif %}
</head>

<body>

  <div class="d-flex" id="wrapper">
    <style>
        .sidebar-heading {
          text-align: center;
        }
      </style>

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <a href="{{url_for('main.dash')}}" style="text-decoration:none"> <div class="sidebar-heading">
        <img src="{{ url_for('static', filename='/img/logox.png') }}" width="170" height="80">
      </div></a>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="{{url_for('posts.transfer')}}" class="list-group-item list-group-item-action bg-light">Send Money</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Transaction History</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Earn Points</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Redeem Points</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if current_user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('users.account')}}">Account  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('users.logout')}}">Logout<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('users.login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('users.register')}}">Register</a>
            </li>
            {% endif %}
            
          </ul>
        </div>
      </nav>
      <main role="main" class="container">
        <div class="row">
          <div class="col-lg-10">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %} 
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                  {{ message }}
                   </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            {% block content %}{% endblock %}
          </div>
          

      <div class="container-fluid">
       <!-- <h1 class="mt-4">Simple Sidebar</h1>
        <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
       --></div>
    </div>
    <!-- /#page-content-wrapper -->

    
    <!-- slider_area_start -->
    <div class="slider_area">
        <!-- Currency Converter Script - FxExchangeRate.com  -->
        <div style="font-size:16px;font-family:sans-serif,Arial,Helvetica;width:1078px; line-height:24px;border:1px solid #2D6AB4;background-color:#FFFFFF;">
            <div style="background-color:#2D6AB4;height:24px; font-weight:bold;text-align:left;padding-top:3px; width:100%;">
            <span style="background-image:url(https://www.fxexchangerate.com/static/flag.webp); background-position: 0 -2064px;float:left; margin:4px 0 0 20px; width:20px;height:15px; background-repeat:no-repeat;">
            </span><a rel="nofollow" style="color:#FFFFFF;padding-left:5px;text-decoration:none;" href="https://usd.fxexchangerate.com">United States Dollar</a></div>
            <script type="text/javascript" src="https://w.fxexchangerate.com/converter.php?fm=USD&ft=EUR,GBP,JPY,AUD,CAD,CNY,JMD,&lg=en&am=1&ty=2"></script>
        </div><!--  End of Currency Converter Script -  FxExchangeRate.com -->
        
      <div class="single_slider  d-flex align-items-center slider_bg_1 overlay6">
          
          <div class="container">
              <div class="row align-items-center justify-content-start">
                  <div class="col-lg-10 col-md-10">
                      <div class="slider_text">
                          
                          <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                              The Simpler and Safer way to Send Money
                          </h3>
                          <a class="boxed-btn3 wow fadeInLeft"  data-wow-duration="1s" data-wow-delay=".2s" href="portfolio.html">Visit Our Works</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- slider_area_end -->
<!-- service_area  -->
    <div class="service_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-70">
                        <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" >Services</span>
                        <h3 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">With more than 20 years of 
                            experience we can deliver the 
                            best product design.</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_service text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s">
                        <div class="icon">
                            <img width="57.826" height="56.087" src="static/img/svg_icon/money.svg" alt="">
                        </div>
                        <h3>Lorem Ipsum </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="icon">
                            <img width="57.826" height="56.087" src="static/img/svg_icon/time.svg" alt="">
                        </div>
                        <h3>Instant Delivery</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                        <div class="icon">
                            <img width="57.826" height="56.087" src="static/img/svg_icon/insurance.svg" alt="">
                        </div>
                        <h3>Secure</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_area">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-5 offset-lg-1">
                    <div class="about_info">
                        <div class="section_title white_text">
                            <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">About Us</span>
                            <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">Empowering individuals </h3>
                            <p class="mid_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Money Reach is the safer, easier way to pay and get paid online by friends and family. The service allows anyone to pay in any way they prefer, including through credit cards, bank accounts, without sharing financial information.
                              Located in Kingston, Jamaica, Money Reach was founded in 2020.</p>
                            <p class="last_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">“Function information without cross action media value.</p>
                            <a href="#" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-scroll-index="0" class="get_in_tauch_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-90">
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Get in Touch</h3>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">Tour function information without cross action media value quickly maximize timely deliverables.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="touch_form">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                        <input type="text" placeholder="Your Name" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                        <input type="email" placeholder="Email" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                        <input type="email" placeholder="Subject" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                       <textarea name="" id="" cols="30" placeholder="Message" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="submit_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                                        <button class="boxed-btn3" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-3">
                        <div class="footer_logo wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                            <a href="index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-9">
                        <div class="menu_links">
                            <ul>
                                <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".2s" href="#">About</a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s"></li>
                                <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s" href="#">Services</a></li>
                               
                          
                                <li><a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.1s" href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="socail_links">
                            <ul>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" href="#"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" href="#"> <i class="fa fa-instagram"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s" href="#"> <i class="fa fa-google-plus"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.3s">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

  
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for ('static', filename ='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>


  



  <!-- JS here -->
  <script src="{{ url_for('static', filename= 'js/vendor/modernizr-3.5.0.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/ajax-form.js')}}"></script>
  <script src="{{ url_for('static', filename='js/waypoints.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.counterup.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/scrollIt.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery.scrollUp.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/wow.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/nice-select.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery.slicknav.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery.magnific-popup.min.js')}}"></script>
  <script src="{{ url_for('static', filename= 'js/plugins.js')}}"></script>
  <script src="{{ url_for('static', filename='js/gijgo.min.js')}}"></script>

  <!--contact js-->
  <script src="{{ url_for('static', filename= 'js/contact.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.form.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.validate.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/mail-script.js')}}"></script>

  <script src="{{ url_for('static', filename='js/main.js')}}"></script>


  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
